@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
IranYekanX fonts are considered a proprietary software. To gain information about the laws 
regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------- 
This set of fonts are used in this project under the license: (TRJC3OMS)
--------------------------------------------------------------------- 
*/
@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-Thin.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-Thin.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-UltraLight.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-UltraLight.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-Light.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-Light.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-Medium.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-Medium.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-DemiBold.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-DemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-ExtraBold.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-ExtraBold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-Black.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-Black.woff2")
      format("woff2");
}
@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 950;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-ExtraBlack.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-ExtraBlack.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: 1000;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-Heavy.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-Heavy.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-Bold.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-Bold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanXFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXFaNum-Regular.woff")
      format("woff"),
    url("../../public/fonts/IranYekanX/woff2/IRANYekanXFaNum-Regular.woff2")
      format("woff2");
}

@font-face {
  font-family: "IRANYekanXVFaNumVF";
  src: url("../../public/fonts/IranYekanX/woff/IRANYekanXVFaNumVF.woff")
      format("woff-variations"),
    /* will be the standard and works in Safari now */
      url("../../public/fonts/IranYekanX/woff/IRANYekanXVFaNumVF.woff")
      format("woff");
  /* for the other supporting browsers */
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Black.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Black.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Black.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-BlackItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-BlackItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-BlackItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Bold.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Bold.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Bold.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-BoldItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-BoldItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-BoldItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-BoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraBold.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-ExtraBold.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-ExtraBold.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-ExtraBold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraBoldItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-ExtraBoldItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-ExtraBoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraLight.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-ExtraLight.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-ExtraLight.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-ExtraLight.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraLightItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-ExtraLightItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-ExtraLightItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-ExtraLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Italic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Italic.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Italic.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Light.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Light.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Light.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-LightItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-LightItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-LightItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Medium.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Medium.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Medium.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-MediumItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-MediumItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-MediumItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Regular.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Regular.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Regular.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-SemiBold.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-SemiBold.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-SemiBold.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-SemiBoldItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-SemiBoldItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-SemiBoldItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Thin.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Thin.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Thin.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: IRANYekanXVFaNumVF, IRANYekanXFaNum, Poppins !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

/* global.css */
.mobile-icon path {
  stroke: white;
  opacity: 0.3;
}
.custom-shadow {
  box-shadow: 0px 0px 30px 0px #0000001a;
}

@media (max-width: 640px) {
  .mobile-icon path {
    stroke: black;
    opacity: 1;
  }
}

code {
  direction: ltr;
  width: 100%;
  overflow-x: auto;
  white-space: pre-wrap; /* اضافه کردن این خط */
  word-wrap: break-word; /* اضافه کردن این خط */
}

pre {
  overflow-x: auto; /* اضافه کردن این خط */
  white-space: pre-wrap; /* اضافه کردن این خط */
  word-wrap: break-word; /* اضافه کردن این خط */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent 25%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 75%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shine-effect:hover::after {
  opacity: 1;
  animation: shine 1.5s linear infinite;
}

.shadow-glow {
  filter: drop-shadow(0 0 8px #7ae36a);
}

/* در فایل CSS全局 */
.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.flex-1 {
  flex: 1 1 0%;
}

.h-full {
  height: 100%;
}

@layer components {
  .prose {
    @apply text-emerald-700 leading-relaxed;
  }
  .prose h2 {
    @apply text-2xl font-bold text-emerald-800 mb-4;
  }
  .prose ul {
    @apply list-disc pr-4 space-y-2;
  }
  .prose li {
    @apply pr-2;
  }
}
.custom-box {
  color: #2e2e2e !important;
}

code::before,
code::after {
  content: "" !important;
}
/* ریست کل محتوا */
.lesson-content *:not(.no-reset):not(.no-reset *) {
  all: revert;
  direction: rtl;
}

/* خود wrapper */
.lesson-content {
  direction: rtl;
  font-family: inherit;
}
