@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Thin.eot");
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/yekan/woff2/YekanBakhFaNum-Thin.woff2")
      format("woff2"),
    url("../../public/fonts/yekan/woff/YekanBakhFaNum-Thin.woff") format("woff"),
    url("../../public/fonts/yekan/ttf/YekanBakhFaNum-Thin.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Light.eot");
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/yekan/woff2/YekanBakhFaNum-Light.woff2")
      format("woff2"),
    url("../../public/fonts/yekan/woff/YekanBakhFaNum-Light.woff")
      format("woff"),
    url("../../public/fonts/yekan/ttf/YekanBakhFaNum-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Regular.eot");
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/yekan/woff2/YekanBakhFaNum-Regular.woff2")
      format("woff2"),
    url("../../public/fonts/yekan/woff/YekanBakhFaNum-Regular.woff")
      format("woff"),
    url("../../public/fonts/yekan/ttf/YekanBakhFaNum-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Medium.eot");
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/yekan/woff2/YekanBakhFaNum-Medium.woff2")
      format("woff2"),
    url("../../public/fonts/yekan/woff/YekanBakhFaNum-Medium.woff")
      format("woff"),
    url("../../public/fonts/yekan/ttf/YekanBakhFaNum-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Bold.eot");
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/yekan/woff2/YekanBakhFaNum-Bold.woff2")
      format("woff2"),
    url("../../public/fonts/yekan/woff/YekanBakhFaNum-Bold.woff") format("woff"),
    url("../../public/fonts/yekan/ttf/YekanBakhFaNum-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Heavy.eot");
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/yekan/woff2/YekanBakhFaNum-Heavy.woff2")
      format("woff2"),
    url("../../public/fonts/yekan/woff/YekanBakhFaNum-Heavy.woff")
      format("woff"),
    url("../../public/fonts/yekan/ttf/YekanBakhFaNum-Heavy.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh FaNum Fat";
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Fat.eot");
  src: url("../../public/fonts/yekan/eot/YekanBakhFaNum-Fat.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/yekan/woff2/YekanBakhFaNum-Fat.woff2")
      format("woff2"),
    url("../../public/fonts/yekan/woff/YekanBakhFaNum-Fat.woff") format("woff"),
    url("../../public/fonts/yekan/ttf/YekanBakhFaNum-Fat.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Black.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Black.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Black.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-BlackItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-BlackItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-BlackItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Bold.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Bold.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Bold.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-BoldItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-BoldItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-BoldItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-BoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraBold.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-ExtraBold.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-ExtraBold.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-ExtraBold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraBoldItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-ExtraBoldItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-ExtraBoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraLight.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-ExtraLight.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-ExtraLight.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-ExtraLight.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraLightItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-ExtraLightItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-ExtraLightItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-ExtraLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Italic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Italic.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Italic.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Light.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Light.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Light.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-LightItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-LightItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-LightItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Medium.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Medium.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Medium.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-MediumItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-MediumItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-MediumItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Regular.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Regular.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Regular.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-SemiBold.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-SemiBold.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-SemiBold.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-SemiBoldItalic.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-SemiBoldItalic.woff2")
      format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-SemiBoldItalic.woff")
      format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/eot/Poppins-Thin.eot");
  src: url("../../public/fonts/poppins/eot/Poppins-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/poppins/woff2/Poppins-Thin.woff2") format("woff2"),
    url("../../public/fonts/poppins/woff/Poppins-Thin.woff") format("woff"),
    url("../../public/fonts/poppins/ttf/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Yekan Bakh FaNum", Poppins !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

/* global.css */
.mobile-icon path {
  stroke: white;
  opacity: 0.3;
}
.custom-shadow {
  box-shadow: 0px 0px 30px 0px #0000001a;
}

@media (max-width: 640px) {
  .mobile-icon path {
    stroke: black;
    opacity: 1;
  }
}

code {
  direction: ltr;
  width: 100%;
  overflow-x: auto;
  white-space: pre-wrap; /* اضافه کردن این خط */
  word-wrap: break-word; /* اضافه کردن این خط */
}

pre {
  overflow-x: auto; /* اضافه کردن این خط */
  white-space: pre-wrap; /* اضافه کردن این خط */
  word-wrap: break-word; /* اضافه کردن این خط */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent 25%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 75%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.shine-effect:hover::after {
  opacity: 1;
  animation: shine 1.5s linear infinite;
}

.shadow-glow {
  filter: drop-shadow(0 0 8px #7ae36a);
}

/* در فایل CSS全局 */
.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.flex-1 {
  flex: 1 1 0%;
}

.h-full {
  height: 100%;
}
