@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 100;
  src: url("../../public/fonts/woff/YekanBakhFaNum-Thin.woff") format("woff"),
    url("../../public/fonts/woff2/YekanBakhFaNum-Thin.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/fonts/woff/YekanBakhFaNum-Light.woff") format("woff"),
    url("../../public/fonts/woff2/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/fonts/woff/YekanBakhFaNum-Regular.woff") format("woff"),
    url("../../public/fonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/woff/YekanBakhFaNum-SemiBold.woff")
      format("woff"),
    url("../../public/fonts/woff2/YekanBakhFaNum-SemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/fonts/woff/YekanBakhFaNum-Bold.woff") format("woff"),
    url("../../public/fonts/woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("../../public/fonts/woff/YekanBakhFaNum-ExtraBold.woff")
      format("woff"),
    url("../../public/fonts/woff2/YekanBakhFaNum-ExtraBold.woff2")
      format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 900;
  src: url("../../public/fonts/woff/YekanBakhFaNum-Black.woff") format("woff"),
    url("../../public/fonts/woff2/YekanBakhFaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 950;
  src: url("../../public/fonts/woff/YekanBakhFaNum-ExtraBlack.woff")
      format("woff"),
    url("../../public/fonts/woff2/YekanBakhFaNum-ExtraBlack.woff2")
      format("woff2");
}

* {
  font-family: YekanBakh !important;
  direction: rtl;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
